<header>
  <nav>
    <div class="navbar">
      <ul>
        <li>
          <a href="/todayPage"
            ><span class="material-symbols-outlined"> calendar_month </span
            >Today</a
          >
        </li>
        <li>
          <a href="/workPage"
            ><span class="material-symbols-outlined"> work </span>Work</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
